<div>
  Terrestrial Date: {{latestWeather.report.terrestrial_date}} </br>
  Mars Date (Sol): {{latestWeather.report.sol}} </br>
  LS: {{latestWeather.report.ls}} </br>
  Minimum Temp Celsius: {{latestWeather.report.min_temp}} </br>
  Minimum Temp Fahrenheit: {{latestWeather.report.min_temp_fahrenheit}} </br>
  Maxium Temp Celsius: {{latestWeather.report.max_temp}} </br>
  Minimum Temp Fahrenheit: {{latestWeather.report.max_temp_fahrenheit}} </br>
  Pressure: {{latestWeather.report.pressure}} </br>
  Pressure String: {{latestWeather.report.pressure_string}} </br>
  Absolute Humidity: {{latestWeather.report.abs_humidity}} </br>
  Wind Speed: {{latestWeather.report.wind_speed}} </br>
  Wind Direction: {{latestWeather.report.wind_direction}} </br>
  Atmospheric Opacity: {{latestWeather.report.atmo_opacity}} </br>
  Season: {{latestWeather.report.season}} </br>
  Sunrise: {{latestWeather.report.sunrise}} </br>
  Sunset: {{latestWeather.report.sunset}} </br>
</div>
</br></br>
<div style="display: flex; justify-content: space-around;">
  <button ui-sref="getLatest">Back</button>
</div>
